<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Dustin Demo</h2>
            <h4>duyang@blackrock.com</h4>
        </div>
        <img src="https://images.squarespace-cdn.com/content/v1/568af8d2d82d5e25a610856b/1518471572657-OT0PP5E4RHVXDMO81D7W/ke17ZwdGBToddI8pDm48kFA9zd0KVW7B7zvvizl8CJYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcKOEUgBUYQ7_rAKz3ua5P61LnR90rif4Svt5YafJynk1sUzUoF4VrfKQlp04kF3vD/NYC+funding+ESB+green.jpg" alt="Dustin">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard Trend</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Single Trade</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Some Page Trade</a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
    </a>
